{% extends "base_home.html" %}

{% block css %}
  <style>
    .logo {
      width: 90px;
      height: 50px;
      background-color: white;
      border-radius: 8px;
      padding: 3px;      
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center pt-3">
        <div class="card">
            <div class="card-header text-center">
                <div>
                    <h4>Fortalecimiento de la seguridad de la información</h4>
                </div>
            </div>
            <div class="card-body text-center">
                <p>Cuestionario guardado satisfactoriamente.</p>
                <div class="text-center"><a role="button" href="{{url_for('cuestionario.fortalecimiento_pdf', id=id_cuestionario)}}" class="btn btn-danger"> Descargar PDF</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
