{% extends "base_home.html" %}

{% block content %}
<div class="container-fluid pt-3">
    <div class="text-center">
        <h2>FO-OR-019 Fortalecimiento de la seguridad de la información</h2>
    </div>
    
    <div class="p-5">
      <div class="card">        
          <div id="carouselExampleIndicators" data-bs-interval="false" class="carousel carousel-dark slide" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 1"></button>
              
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/img/FO-OR-019/FO-OR-019_01.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_02.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_03.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_04.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_05.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_06.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_07.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_08.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_09.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_10.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_11.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_12.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_13.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_14.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_15.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_16.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_17.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_18.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/FO-OR-019/FO-OR-019_19.png" class="d-block w-100" alt="...">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <hr>
            <div class="row pt-3">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">VIDEO 1: Anatomía de un Ataque por Ransomware</h5>
                    <div class="ratio ratio-16x9"> 
                      <video src="/static/media/video1.mp4" controls></video>                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">VIDEO 2: Anatomía de un Ataque Vulnerabilidad</h5>
                    <div class="ratio ratio-16x9">
                      <video src="/static/media/video2.mp4" controls></video>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-3">
              <h4>Cuestionario</h4>
              <p>Con el fin de fortalecer la información adquirida, a continuación se realizarán unas preguntas.</p>
              <div class="text-center">
                <a role="button" href="{{url_for('cuestionario.fortalecimiento_examen')}}" class="btn btn-primary">Iniciar</a>
              </div>
            </div>
            
          </div>
      </div>        
    </div>
</div>

<div class="container">
    <div class="p-3">
      <div class="card">

      </div>
    </div>
</div>

{% endblock %}
