<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortalecimiento de la seguridad de la información</title>
</head>
<body>
    <table style="border-collapse: collapse; width: 100%; height: 67px;" border="1">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 21.1963%; height: 67px;" rowspan="2"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.indizze.mx/sites/default/files/imagecache/logo_pagina/logos-empresa/logo_solucion_factible_1.jpg" alt="" width="111" height="71" /></td>
        <td style="width: 85.7322%; height: 18px;" colspan="8">
        <h2 style="text-align: center;"><strong>Evaluaci&oacute;n de efectividad capacitaci&oacute;n</strong></h2>
        </td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 7.95454%; height: 49px; text-align: center;"><strong>Clasificaci&oacute;n</strong></td>
        <td style="width: 11.1111%; height: 49px; text-align: center; font-size: 12px;"><span style="color: #ff0000;">RESERVADO</span></td>
        <td style="width: 11.1111%; height: 49px; text-align: center;"><strong>C&oacute;digo</strong></td>
        <td style="width: 11.1111%; height: 49px; font-size: 12px;">FO-RH-009</td>
        <td style="width: 11.1111%; height: 49px;"><strong>Versi&oacute;n</strong></td>
        <td style="width: 11.1111%; height: 49px; text-align: center;">1.0</td>
        <td style="width: 11.1111%; height: 49px;"><strong>Entrada en Vigor</strong></td>
        <td style="width: 11.1111%; height: 49px;">01/02/2020</td>
        </tr>
        </tbody>
        </table>
        
        <br>
    
        <table style="border-collapse: collapse; width: 100%; height: 30px;" border="1">
        <tbody>
        <tr style="height: 30px;">
        <td style="width: 25.5682%; height: 30px;"><strong>Cuestionario sobre tema:</strong></td>
        <td style="width: 74.4318%; height: 30px;">Fortalecimiento de la seguridad de la informaci&oacute;n</td>
        </tr>
        <tr style="height: 30px;">
        <td style="width: 25.5682%; height: 30px;"><strong>Instructor: </strong></td>
        <td style="width: 74.4318%; height: 30px;">Ing. Anubis Díaz Pérez (CISSP)</td>
        </tr>
        </tbody>
        </table>
        
        <br>
    
        <table style="border-collapse: collapse; width: 100%; height: 47px;" border="1">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 25%; text-align: center; height: 23px;"><strong>Nombre Completo</strong></td>
        <td style="width: 25%; height: 23px;" colspan="3">{{ cuestionario.user_info.name }}</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 25%; text-align: center; height: 24px;"><strong>Departamento</strong></td>
        <td style="width: 25%; height: 24px;">{{ cuestionario.user_info.dep }}</td>
        <td style="width: 25%; text-align: center; height: 24px;"><strong>Fecha</strong></td>
        <td style="width: 25%; height: 24px;"> {{ respuestas.fecha }} </td>
        </tr>
        </tbody>
        </table>
         
        <br>
    
        <table style="border-collapse: collapse; width: 100%; height: 25px;" border="1">
        <tbody>
        <tr style="height: 25px;">
        <td style="width: 16.4773%; height: 25px;"><strong>Instrucciones:</strong></td>
        <td style="width: 83.5227%; height: 25px;">Seleccione solo UNA respuesta a cada uno de los cuestionamientos descritos.</td>
        </tr>
        </tbody>
        </table>
        <p><strong>1) En SFERP S.C. &iquest;Qu&eacute; entendemos por pol&iacute;tica de seguridad de informaci&oacute;n?</strong></p>
        <table style="height: 54px; width: 100%; border-collapse: collapse;" border="0">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; text-align: center; height: 18px;">( {{ respuestas.respuesta1.opcion1 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Son lineamientos t&eacute;cnicos y administrativos que fomentan la seguridad entorno a la informaci&oacute;n y las personas que interact&uacute;an con ella.</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; text-align: center; height: 18px;">( {{ respuestas.respuesta1.opcion2 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Son las normas que vigilan y regulan la creaci&oacute;n de informaci&oacute;n dentro de la organizaci&oacute;n, sus clientes y proveedores.</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; height: 18px; text-align: center;">( {{ respuestas.respuesta1.opcion3 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Indica la forma ordenada y segura de realizar diversas operaciones en forma pr&aacute;ctica, en los que se involucra la informaci&oacute;n de la empresa, as&iacute; como todas las personas que la integran.</td>
        </tr>
        </tbody>
        </table>
        <p><strong>2) Video 1. Despu&eacute;s de ver el video, piensa como empleado de Qualicart y describe al menos 1 forma en que pudieras haber prevenido &oacute; evitado el desastre que les ocurri&oacute;.</strong></p>
        <p> {{ cuestionario.pregunta_2 }} </p>
        <p><strong>3) Identifica cuales son dos m&eacute;todos usados por atacantes para vulnerar una organizaci&oacute;n o su informaci&oacute;n</strong></p>
        <table style="height: 54px; width: 100%; border-collapse: collapse;" border="0">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; text-align: center; height: 18px;">( {{ respuestas.respuesta3.opcion1 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Troyanos y Ransomware</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; text-align: center; height: 18px;">( {{ respuestas.respuesta3.opcion2 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Suplantaci&oacute;n de identidad y Denegaci&oacute;n de servicios</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; height: 18px; text-align: center;">( {{ respuestas.respuesta3.opcion3 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Sistemas viejos e inseguros, falta de actualizaciones de software.</td>
        </tr>
        </tbody>
        </table>
        <p><strong>4) Video 2. Despu&eacute;s de ver el video, piensa como empleado de Aupticon y describe al menos 1 forma en que pudieras haber prevenido &oacute; evitado el desastre que les ocurri&oacute;.</strong></p>
        <p> {{ cuestionario.pregunta_4 }} </p>
        <p><strong>5) Identifica las acciones en seguridad de la informaci&oacute;n que T&Uacute; puedes aplicar en forma inmediata y constante, para contribuir con un entorno de trabajo m&aacute;s seguro para todos en SFERP S.C.</strong></p>
        <table style="height: 54px; width: 100%; border-collapse: collapse;" border="0">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; text-align: center; height: 18px;">( {{ respuestas.respuesta5.opcion1 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Encriptar mis documentos, eliminar cosas que no son importantes e instalar un antivirus.</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; text-align: center; height: 18px;">( {{ respuestas.respuesta5.opcion2 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Poner m&aacute;s atenci&oacute;n en correos electr&oacute;nicos entrantes, cambiar mis contrase&ntilde;as seguras.</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 5.25568%; height: 18px; text-align: center;">( {{ respuestas.respuesta5.opcion3 }} )</td>
        <td style="width: 94.7443%; height: 18px;">Verificar los niveles de seguridad de mis redes sociales, correo personal y mi celular.</td>
        </tr>
        </tbody>
        </table>
        <p>&nbsp;</p>
    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    
        <table style="width: 100%; border-collapse: collapse; border-style: none; border-color: #4972CB; border-top: solid;" border="0">
        <tbody>
        <tr>
        <td style="width: 24.858%;">&nbsp;</td>
        <td style="width: 50.142%; text-align: center;">Soluci&oacute;n factible Consultores</td>
        <td style="width: 25%; text-align: right;">Pagina&nbsp; 1 de 1</td>
        </tr>
        </tbody>
        </table>
</body>
</html>

