{% extends "base_home.html" %}

{% block css %}
<style>
    p {
        font-weight: bold;
    }
    .logo {
        width: 90px;
        height: 50px;
        background-color: white;
        border-radius: 8px;
        padding: 3px;      
      }
</style>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row p-3">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                    {{ message }}
                                    <button type="submit" class="btn-close"  data-bs-dismiss="alert" aria-label="Close" ></button>
                                </div>
                            {% else %}
                                <div class="alert alert-success alter-dismissable fade show" role="alert">
                                    {{ message }}
                                    <button type="submit" class="close"  data-dismiss="alert" >
                                        <span arial-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="d-flex justify-content-center">            
            <div class="card">
                <div class="card-header text-center">
                    <h4>Lineamientos esenciales sobre seguridad de la información</h4>
                  </div>
                <div class="card-body"> 
                    <div class="text-center">
                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <div>
                               <strong>Instrucciones: </strong>Seleccione solo UNA respuesta a cada uno de los cuestionamientos descritos.
                            </div>
                          </div>
                    </div>
                  <form method="POST" action="{{ url_for('cuestionario.lineamiento_examen') }}">
                        <div class="row">
                            <div class="col">
                                <p> 1) SFERP, S.C. está obligado como Proveedor de Certificación ante el SAT al cumplimiento de los siguientes normativas y controles:</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_1" value="1" id="pregunta_11">
                                    <label class="form-check-label" for="pregunta_11">
                                        PCCFDI / PCRDD
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_1" value="2" id="pregunta_12">
                                    <label class="form-check-label" for="pregunta_12">
                                        SGSI (ISO) / CMMI / LFPDPPP
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_1" value="3" id="pregunta_13">
                                    <label class="form-check-label" for="pregunta_13">
                                        PCCFDI / PCRDD / SGSI (ISO) / CMMI
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row pt-3">
                            <div class="col">
                                <p> 2) Ante el SAT, algunas de las áreas de control que están presentes en sus matrices de control, son:</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_2" value="1" id="pregunta_21">
                                    <label class="form-check-label" for="pregunta_21">
                                        Postura de la empresa, Operación y gestión de la seguridad, Cumplimiento legal y regulatorio.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_2" value="2" id="pregunta_22">
                                    <label class="form-check-label" for="pregunta_22">
                                        Seguridad de la plataforma, Cumplimiento legal y regulatorio, Desarrollo sustentable.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_2" value="3" id="pregunta_23">
                                    <label class="form-check-label" for="pregunta_23">
                                        Cumplimiento legal y regulatorio,  Aviso de privacidad y buenas prácticas de operación.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>                        
                        <div class="row pt-3">
                            <div class="col">
                                <p> 3) SGSI es un Sistema de Gestión de Seguridad de la Información que tiene...</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_3" value="1" id="pregunta_31">
                                    <label class="form-check-label" for="pregunta_31">
                                        ... un compendio de buenas prácticas y normativa, que garantiza que la empresa es 100%
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_3" value="2" id="pregunta_32">
                                    <label class="form-check-label" for="pregunta_32">
                                        ... un marco de gobernanza de tecnologías de información y seguridad en los sistemas.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_3" value="3" id="pregunta_33">
                                    <label class="form-check-label" for="pregunta_33">
                                        ... una guía con objetivos y controles para lograr la gestión de la seguridad de la información.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row pt-3">
                            <div class="col">
                                <p> 4) ¿Por qué es importante cumplir las políticas y procedimientos de la organización?</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_4" value="1" id="pregunta_41">
                                    <label class="form-check-label" for="pregunta_41">
                                        Mejora la ejecución y la velocidad en que se desempeñan las unidades organizacionales.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_4" value="2" id="pregunta_42">
                                    <label class="form-check-label" for="pregunta_42">
                                        Crea entornos más seguros para ejecutar los sistemas de Emisión y Recepción.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_4" value="3" id="pregunta_43">
                                    <label class="form-check-label" for="pregunta_43">
                                        Mejora la ejecución de los procesos administrativa y técnica de la organización, aumentando el control y la protección de la información.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row pt-3">
                            <div class="col">
                                <p> 5) De los indicados a continuación ¿cuáles serían ejemplos de amenazas internas o externa a la seguridad de la información de la empresa?</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_5" value="1" id="pregunta_51">
                                    <label class="form-check-label" for="pregunta_51">
                                        Brokers de retransmisión y errores en el WSLCD.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_5" value="2" id="pregunta_52">
                                    <label class="form-check-label" for="pregunta_52">
                                        Problemas de configuración en Hardware / Software y ataques informáticos.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pregunta_5" value="3" id="pregunta_53">
                                    <label class="form-check-label" for="pregunta_53">
                                        Mala calidad del aire, calentamiento global y enfermedades infecciosas / contagiosas .
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row pt-3">
                            <div class="col">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>                   
                </div>
            </div>
        </div>
    </div>
{% endblock %}

