{% extends "base_home.html" %}

{% block content %}
<div class="container-fluid pt-3">
    <div class="text-center">
        <h2>Capacitacion 360°</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="p-3 w-75">
        <div class="card">        
            <div class="text-center">
              <div class="ratio ratio-16x9"> 
                <video src="/static/media/capacitacion_360.mp4" controls></video>                      
              </div>
            </div>
            <div class="card-body">
              
              
            </div>
        </div>        
      </div>
    </div>    
</div>

{% endblock %}

